/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.black {
  background-color: black;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
#father{
    width: 500px;
    height: 1000px;
}
.gray{
background-color: #A9A9A9;
}
#button{
    height: 50px;
    width: 200px;
}
#div2{
    height: 1000px;
}
